.title {
	font-size: .5em;
}

@media (max-width: 415px) {
	.container {
		overflow: hidden;
	}
	.zoom {
		position: relative;
		left: -30%;
		width: 175%;
    text-align: center;
    overflow: hidden;
	}
}
